{% extends "base.min.html" %}
{% block container %}
<div class="container">
    <!-- Outer Row -->
    <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-12 col-md-9">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        {% if SETTINGS.login_page_image %}
                        <div class="col-lg-6 d-none d-lg-block bg-login-image" style="background-image: url({{MEDIA_URL}}/settings/{{SETTINGS.login_page_image}});"></div>
                        {% else %}
                        <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                        {% endif %}
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Welcome!</h1>
                                </div>
                                {{ msg() }}
                                <form class="user" method="POST">
                                    {{ csrf_token()|raw }}
                                    <div class="form-group">
                                        <input type="email" name="email" required="required" class="form-control form-control-user" id="email" aria-describedby="emailHelp" placeholder="Enter Email Address...">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" name="password" required="required" autocomplete="false" class="form-control form-control-user" id="password" placeholder="Password">
                                    </div>
                                    <div class="form-group">
                                        <div class="custom-control custom-checkbox small">
                                            <input type="checkbox" name="remember_me" class="custom-control-input" id="remember_me">
                                            <label class="custom-control-label" for="remember_me">Remember Me</label>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-primary btn-user btn-block">
                                        Login
                                    </button>

                                </form>
                                <hr>
                                <div class="text-center">
                                    <a class="small" href="{{ url('register') }}">Create an Account!</a>
                                </div>
                                <div class="text-center">
                                    <a class="small" href="{{ url('forgot-password') }}">Forgot Password?</a>
                                </div>
                                <hr>
                                <div class="text-center">
                                    <a class="small" href="{{ url('index') }}">Home</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
